<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>

<h1>Hello i18n</h1>

<h1 i18n="@@SimpleMessage">Hello Translate i18n</h1>

<h1 i18n="Bonjour | Welcome Message. @@welcomeId">Hello i18n!</h1>